<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--常量-->
  <properties resource="LDVDB.config">
    <property key="namespace" value="LDV.WMS.RF.DataMapper.SqlMaps"/>
    <property key="assembly" value="LDV.WMS.RF.DataMapper"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="true"/>
  </settings>

  <providers embedded="LDV.WMS.RF.DataMapper.Providers.config, LDV.WMS.RF.DataMapper"/>

  <!--<database>
    <provider name="sqlServer2.0"/>
    <dataSource name="SMS" connectionString="server=${server};database=${datasource};uid=${userid};pwd=${password}; timeout = 1000"/>
    <dialect>
      <innerDialect name="SqlServerDialect" />
    </dialect>
  </database>-->

  <database>
    <provider name="oracleClient2.0"/>
    <dataSource name="DB" connectionString="Data Source=${datasource};User Id=${userid};Password=${password};"/>
    <dialect>
      <innerDialect name="OracleDialect" />
    </dialect>
  </database>
  <sqlMaps>
    <sqlMap embedded="${namespace}.AutoSupplyInterface.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VPhrSecUsr.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsBaseCustomer.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsBaseLocation.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsBaseWarehouse.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsInvDetail.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsInvMu.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsInvTransaction.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsInvUid.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsItem.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickBatch.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickQueue.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickTicket.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickTicketAct.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickTicketDetail.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsRcvDoc.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsRcvDocDetail.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickQueueAct.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsItemLocationMap.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvFreedomCheck.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvPackageBarcode.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvPackageItemRel.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvPlanCheck.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvPlanCheckDetail.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsPickQueuePlanact.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsRcvDocAct.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsRcvDocRv.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsRcvDocPQ.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.VWmsSvwsapIdocinfo.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvPlanMoveLoc.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvPlanMoveLocDetail.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvOrderAutoPrint.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.LdvQrCode.xml, ${assembly}"/>
  </sqlMaps>

</sqlMapConfig>