<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--常量-->
  <properties resource="DB.config">
    <property key="namespace" value="DataMapper.SqlMaps"/>
    <property key="assembly" value="DataMapper"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="true"/>
  </settings>

  <providers embedded="DataMapper.Providers.config, DataMapper"/>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="DB" connectionString="server=${server};database=${datasource};uid=${userid};pwd=${password};Connection Timeout=600;"/>
    <dialect>
      <innerDialect name="SqlServerDialect" />
    </dialect>
  </database>

  
  <!--<database>
    <provider name="OracleClient2.0"/>
    <dataSource name="DB" connectionString="Data Source=${datasource};User Id=${userid};Password=${password};"/>
    <dialect>
      <innerDialect name="OracleDialect" />
    </dialect>
  </database>-->
  <sqlMaps>
    <!--privilege--> 
    
    <!--business-->
    <sqlMap embedded="${namespace}.LtUser.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.TRUCK.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.PullPlan.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.QUEUE.xml, ${assembly}"/>

    <sqlMap embedded="${namespace}.ORDER_BUSINESS.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.ORDER_NUM.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.WAREHOUSE.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.PART_OPERAT_HISTORY.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.PART_STOCK.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.PROJECT.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.BATCH_PART.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.RECEIVE_CHECK_ORDER_ITEM.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.RECEIVE_ORDER_ITEM.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.PART_LOC.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.DELIVER.xml, ${assembly}"/>
    <sqlMap embedded="${namespace}.PART.xml, ${assembly}"/>
    <!--System-->
    <!--BaseInfo-->
    <!--ReceivingPlan-->
    <!--ShippingPlan-->
    <!--SalesLimit-->
  </sqlMaps>

</sqlMapConfig>