<?xml version="1.0" encoding="utf-8"?>

<!--<settings>
  <add key="server" value="192.168.0.178"></add>
  <add key="datasource" value="SAFE_Test_APP" />
  <add key="userid" value="safegm" />
  <add key="password" value="123456" />
</settings>-->



<!--<settings>
  <add key="server" value="127.0.0.1"/>
  <add key="datasource" value="safe_app_test" />
  <add key="userid" value="ISME" />
  <add key="password" value="123456" />
</settings>-->

<!--<settings>
	<add key="server" value="192.168.1.117"></add>
	<add key="datasource" value="safe_test" />
	<add key="userid" value="safegm" />
	<add key="password" value="123" />
</settings>-->

<!--<settings>
  <add key="server" value="ADMINXU-PC\MSSQLSERVER14"></add>
  <add key="datasource" value="YTWMS" />
  <add key="userid" value="sa" />
  <add key="password" value="Password!01" />
</settings>-->

<!--<settings>
  <add key="server" value="ADMINXU-PC\MSSQLSERVER14"></add>
  <add key="datasource" value="YTWMS" />
  <add key="userid" value="ytwms" />
  <add key="password" value="password!01" />
</settings>-->

<settings>
  <add key="server" value="192.168.0.58"></add>
  <add key="datasource" value="YTWMS" />
  <add key="userid" value="sa" />
  <add key="password" value="123" />
</settings>

